@import "tailwindcss";

/* Custom styles can be added here */

@theme {
  --breakpoint-xs: 21rem; /* 336px */
  --breakpoint-sm: 28rem; /* 448px */
  --breakpoint-md: 50rem; /* 800px */
  --breakpoint-lg: 65rem; /* 1040px */
  --breakpoint-xl: 80rem; /* 1280px */
  --breakpoint-2xl: 96rem; /* 1536px */
}
